<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>683969324128-rr23ba0ge4aeqcl28gsaadv4bapguks5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.683969324128-rr23ba0ge4aeqcl28gsaadv4bapguks5</string>
	<key>API_KEY</key>
	<string>AIzaSyCiwDl0SKqUHqgddgyXTObdm8iIDhG6QfQ</string>
	<key>GCM_SENDER_ID</key>
	<string>683969324128</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blogapp</string>
	<key>PROJECT_ID</key>
	<string>blog-app-flutr</string>
	<key>STORAGE_BUCKET</key>
	<string>blog-app-flutr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:683969324128:ios:ed32d1b32fc81457144f05</string>
</dict>
</plist>